* {
  font-family: Platypi, Arial, sans-serif;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light gray background */
}

/* Container styles */
.container {
  width: 80%;
  min-width: 400px;
  max-width: 1100px;
  margin: 20px auto; /* Center the container */
  display: flex;
  justify-content: space-between;
}
.side-section{
  display: flex;
  flex-direction: column;
}
form{
  flex: 0 0 15%;
  background-color: #F7E0AC;
  border: 2px solid darkblue;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 3px;
}
/* Styles for Categories */
.categories {
  flex: 0 0 15%; 
  background-color: #FFDAB9; 
  border: 2px solid darkblue; 
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  padding-left: 15px;
  margin: 3px;
}
.categories-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.category {
  display: block;
  margin-bottom: 5px;
}
.hidden {
  display: none;
}

/* Styles for Task List */
.task-list {
  flex: 1;
  background-color: #FCD4A1; 
  border: 2px solid black; 
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  min-height: 800px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  align-items: start; 
}

.task-list > div {
  min-width: 0; 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  padding: 10px;
  border: 2px solid #FFEF6A; 
  border-radius: 10px; 
  background-color: #FFF6AD; 
}
#Work-tasks {
  background-color: #FF6347; /* A shade of red */
  border-color: #FF6347; /* Red border */
  color: #FFFFFF; /* White text for better contrast */
}

#Personal-tasks {
  background-color: #4682B4; /* A shade of blue */
  border-color: #4682B4; /* Blue border */
  color: #FFFFFF; /* White text for better contrast */
}

#Other-tasks {
  background-color: #32CD32; /* A shade of green */
  border-color: #32CD32; /* Green border */
  color: #FFFFFF; /* White text for better contrast */
}
.tasks-column h2 {
  width: 100%; /* Full width of the column */
  text-align: center; /* Center the text horizontally */
  margin-top: 0; /* Remove default top margin */
  margin-bottom: 20px; /* Add some space below the heading */
}


h1 {
  text-align: center;
}

html {
  height:100%;
}

body {
  margin:0;
}

.categories label[for="category-Work"] {
  color: #FF6347; /* Red color */
}

.categories label[for="category-Personal"] {
  color: #4682B4; /* Blue color */
}

.categories label[for="category-Other"] {
  color: #32CD32; /* Green color */
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}



@media screen and (max-width: 768px) {
  .container {
      min-width: 80%; 
      flex-direction: column; /* Stack items vertically */
  }

  .categories,
  .task-list {
      width: 100%; /* Take up full width when stacked */
      margin-bottom: 20px; /* Add spacing between stacked items */
  }
}
