* {
    font-family: Platypi, Arial, sans-serif;
}

/* Global styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

/* Container styles */
.container {
    width: 80%;
    min-width: 400px;
    max-width: 1100px;
    margin: 20px auto; /* Center the container */
    display: flex;
    justify-content: space-between;
}
.side-section{
    display: flex;
    flex-direction: column;
    
aside {
    background-color: lightgreen;
    padding: 10px;
    margin-bottom: 10px; 
}
/* Styles for Categories */
.categories {
    flex: 0 0 15%; /* 45% width */
    background-color: #FFDAB9; /* Light orange background */
    border: 2px solid #FFA500; /* Dark orange border */
    border-radius: 10px; /* Rounded borders */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Floating effect */
    padding: 10px; /* Add padding for spacing */
}
.categories-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.category {
    display: block;
    margin-bottom: 5px;
}

/* Styles for Task List */
.task-list {
    flex: 0 0 80%; /* 45% width */
    background-color: #ADD8E6; /* Light blue background */
    border: 2px solid #00008B; /* Dark blue border */
    border-radius: 10px; /* Rounded borders */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Floating effect */
    padding: 10px; /* Add padding for spacing */
    min-height: 800px;
}
.task {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }



  @media screen and (max-width: 768px) {
    .container {
        min-width: 80%; 
        flex-direction: column; /* Stack items vertically */
    }

    .categories,
    .task-list {
        width: 100%; /* Take up full width when stacked */
        margin-bottom: 20px; /* Add spacing between stacked items */
    }
}
